<img class="hide sm-block col-14" src="{{ include.collage.image_mobile }}" />
<div class="overflow-hidden bg-cover ar-7x3" style="background-image: url({{ include.collage.image }})">
  <div class="absolute top-0 left-0 bottom-0 right-0 flex">
    <div class="col col-6 pl-col-1 lg-pl-col-2 my-auto bg-feature flex sm-col-14 sm-pr-col-1 sm-py-4 col-right">
      <div class="my-auto self-center">
        <h3 class="f2 bold white mb-1">{{ include.collage.title }}</h3>
        <h3 class="f3 sm-f2 white mb-2">{{ include.collage.subtitle }}</h3>
      </div>
    </div>
  </div>
</div>
