<div class="my-5 sm-my-4 txt-primary mx-auto col-12 lg-col-10">
  <h3 class="f2 bold mb-1">{{ include.title }}</h3>
  <div class="clearfix f3 txt-primary">
    <div class="col col-10 pr-col-1 sm-pr-col-0 sm-col-14 content">
      {{ include.content | markdownify }}
    </div>
    <div class="col col-4 sm-col-14">
      <div class="content mb-3">
        {{ include.sidebar.content | markdownify }}
      </div>
      <a class="button" href="{{ include.sidebar.button.destination }}">{{ include.sidebar.button.text }}</a>
    </div>
  </div>
</div>
