<div class="sm-block overflow-hidden flex flex-reverse col-14 bg-feature">
  <div class="col col-7 sm-col-14 bg-cover ar-4x3 lg-ar-16x9" style="background-image:url('{{ include.feature.image }}'); background-position:{{ include.feature.position }};"></div>
  <div class="col col-7 sm-col-14 flex center-items py-5 sm-py-4 pr-col-1 pl-col-1 lg-pl-col-2 relative">
    <div class="sm-py-0">
      <h1 class="f1 bold white mb-1">
        {{ include.feature.title }}
      </h1>
      <h2 class="f2 white mb-2 pr-3">
        {{ include.feature.subtitle }}
      </h2>
      <ul class="mb-3">
        {% for item in include.feature.checklist %}
          <li class="white mb-1">
            <span class="f2-icon inline-block align-middle mr-1 white">
              {% include svg/tick.svg %}
            </span>
            <span class="bold f2 align-middle">
              {{ item }}
            </span>
          </li>
        {% endfor %}
      </ul>
      <a class="button-inverted" href="{{ include.feature.destination }}">
        {{ include.feature.call_to_action }}
      </a>
    </div>
  </div>
</div>
