<div class="flex flex-reverse sm-block overflow-hidden bg-feature">
  <div class="col col-7 sm-col-14 ar-10x1 bg-left sm-bg-bottom" style="background-image:url('/assets/images/nanny-job-melbourne{% if include.header %}-2{% endif %}.png'); background-repeat: repeat-x; background-size: {% if include.header %}75{% else %}100{% endif %}%"></div>
  <div class="col col-7 sm-col-14 flex center-items{% if include.header %} py-3 sm-pt-1 sm-pb-2{% else %} py-4 sm-py-3{% endif %} pr-5 sm-pr-col-1 pl-col-1 lg-pl-col-2 relative">
    <div class="py-1">
      <h1 class="f2 bold white mb-1">
        {{ include.title }}
      </h1>
      <h2 class="f3 white mb-1">
        {{ include.subtitle }}
      </h2>
    </div>
  </div>
</div>
