<div class="flex flex-reverse sm-block clearfix bg-feature">
  {% for image in include.profiles.images %}
    <div class="col col-3 bg-cover bg-center {% if forloop.index != 2 %} sm-col-7 sm-square{% endif %}" style="background-position: 50% 15%; background-image: url({{ image }})"></div>
  {% endfor %}
  <div class="col col-6 sm-col-14 flex center-items py-4 sm-py-4 pr-5 pl-col-1 lg-pl-col-2 relative">
    <div class="py-1">
      <h1 class="f2 bold white mb-1">
        {{ include.profiles.title }}
      </h1>
      <h2 class="f3 white mb-1">
        {{ include.profiles.subtitle }}
      </h2>
    </div>
  </div>
</div>
