<div class="col col-4 sm-col-14 pt-2">
  <p class="f4 sm-f2 mb-3">
    <a class="button sm-button-full" href="{{ site.consultation }}">
      Book a Consultation
    </a>
  </p>
  <p class="f4 sm-f2 mb-3">
    Phone<br/>
    <a class="bold no-underline" href="tel:{{ site.phone }}">
      {{ site.phone }}
    </a>
  </p>
  <p class="f4 sm-f2 mb-3">
    Email<br/>
    <a class="bold no-underline" href="mailto:{{ site.email }}">
      {{ site.email }}
    </a>
  </p>
  <p class="f4 sm-f2 mb-3">
    Address<br/>
    <span class="bold">
      {{ site.address_line_1 }}<br/>
      {{ site.address_line_2 }}<br/>
      {{ site.address_line_3 }}
    </spaj>
  </p>
</div>
