@keyframes up {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-100vw); }
}

$colors: (#253D8F, #25838F, #258F54, #3D8F25, #838F25, #8F5425, #8F253D, #8F2583);

@for $i from 1 through 20 {
  .animate-nanny-#{$i} {
    animation: up #{10 + random(5)}s linear infinite;
    animation-delay: #{random(45) / 3}s;
    background-color: nth($colors, random(8));
    background-blend-mode: screen;
    border-radius: 50%;
    top: calc(100% + 0.4rem);
    background-size: cover;
    left: #{(random(4) - 1) * 20% + random(10)};
    width: #{20% + random(3) * 3};

    &:after {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
}
