$brand: #2F2F52;
$parents: #2447C3;
$nannies: #d21640;
$contact: #594928;
$gray: #ccc;
$white: #ffffff;
$off-white: #fafafa;

.white {
  color: $white;
}

.bg-white {
  background: $white;
}

.bg-off-white {
  background: $off-white;
}

@each $bp-prefix, $size in $breakpoints {
  @media #{$size} {
    .#{$bp-prefix}-bg-off-white {
      background: $off-white;
    }
  }
}

.txt-primary {
  color: $brand;
}

.bg-feature  {

  .parents & {
    background-color: $parents;
  }

  .nannies & {
    background-color: $nannies;
  }
}

.txt-feature  {

  .parents & {
    color: $parents;
  }

  .nannies & {
    color: $nannies;
  }
}
