$brand: #2F2F52;
$parents: #2447C3;
$nannies: #d21640;
$gray: #ccc;
$white: #ffffff;
$off-white: #fafafa;

$colors: (
  "brand": $brand,
  "parents": $parents,
  "nannies": $nannies,
  "gray": $gray,
  "white": $white,
  "off-white": $off-white,
);

.feature {
  color: $parents;
}

.bg-feature {
  background-color: $brand;
}

@mixin classes($colors, $bp-prefix) {
  @each $name, $value in $colors {
    .#{$bp-prefix}-#{$name} {
      color: $value;
    }
    .#{$bp-prefix}-bg-#{$name} {
      background-color: $value;
    }
    .#{$bp-prefix}-#{$name}-layout {
      .feature {
        color: $value;
      }
      .bg-feature {
        background-color: $value;
      }
    }
  }
}

@each $name, $value in $colors {
  .#{$name} {
    color: $value;
  }
  .bg-#{$name} {
    background-color: $value;
  }
  .#{$name}-layout {
    .feature {
      color: $value;
    }
    .bg-feature {
      background-color: $value;
    }
  }
}

@each $bp-prefix, $size in $breakpoints {
  @media #{$size} {
    @include classes($colors, $bp-prefix);
  }
}
