.input, .textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  padding: nth($spacings, 2);
  font-size: $fontsize-3;
  line-height: $lineheight-3;
  width: 100%;
  border: 1px solid $gray;
  &:focus {
    border: 1px solid $brand;
    outline: 0;
  }
}

.textarea {
  min-height: nth($spacings, 7);
}
