.circle {
  position: relative;
  border-radius: 50%;

  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.rounded {
  position: relative;
  border-radius: nth($spacings, 2);
}

.square {
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.ar-16x9 {
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-top: calc(100% * 9/16);
  }
}

.ar-9x16 {
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-top: calc(100% * 16/9);
  }
}

.ar-4x3 {
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-top: calc(100% * 3/4);
  }
}

.ar-3x4 {
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-top: calc(100% * 4/3);
  }
}

.ar-10x1 {
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-top: calc(100% * 1/10);
  }
}

.ar-4x1 {
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-top: calc(100% * 1/4);
  }
}

.ar-7x3 {
  position: relative;
  &:after {
    content: "";
    display: block;
    padding-top: calc(100% * 3/7);
  }
}

@media #{$breakpoint-lg} {
  .lg-ar-16x9 {
    position: relative;
    &:after {
      content: "";
      display: block;
      padding-top: calc(100% * 9/16)
    }
  }
}
