---
layout: default
---
<div class="my-4 sm-my-4 txt-primary mx-auto col-12 lg-col-10">
  <h3 class="f2 bold">Contact</h3>
  <div class="clearfix f3 txt-primary">
    <form class="col py-2 col-10 pr-col-1 sm-pr-col-0 sm-col-14 content" action="https://formspree.io/sam@margalit.com.au" method="POST">
      <div class="clearfix">
        <div class="mb-2 col col-7 sm-col-14 pr-2 sm-pr-0">
          <label class="f4 mb-1 block">Name</label>
          <input class="input"></input>
        </div>
        <div class="mb-2 col col-7 sm-col-14 pl-2 sm-pl-0">
          <label class="f4 mb-1 block">Suburb</label>
          <input class="input"></input>
        </div>
      </div>
      <div class="clearfix">
        <div class="mb-2 col col-7 sm-col-14 pr-2 sm-pr-0">
          <label class="f4 mb-1 block">Phone Number</label>
          <input class="input"></input>
        </div>
        <div class="mb-2 col col-7 sm-col-14 pl-2 sm-pl-0">
          <label class="f4 mb-1 block">Email Address</label>
          <input class="input"></input>
        </div>
      </div>
      <div class="mb-3 col col-14">
        <label class="f4 mb-1 block">Message</label>
        <textarea class="textarea"></textarea>
      </div>
      <input type="hidden" name="_next" value="/thanks.html" />
      <button type="submit" class="button">Submit</button>
    </form>
    <div class="col col-4 sm-col-14 pt-2">
      <p class="f4 mb-2">
        Phone<br/>
        <a class="bold">
          0400 000 000
        </a>
      </p>
      <p class="f4 mb-2">
        Email<br/>
        <a class="bold">
          ruby@nannymatch.com.au
        </a>
      </p>
      <p class="f4 mb-2">
        Address<br/>
        <a class="bold">
          9/41 Hanover St<br/>
          Fitzroy 3065<br/>
          Melbourne, VIC
        </a>
      </p>
    </div>
  </div>
</div>
