---
layout: default
---

{% include marquee.html title=page.title subtitle=page.subtitle header=true%}
<div class="my-3 sm-my-2 mx-auto col-12 lg-col-10">
  <div class="overflow-hidden f3 sm-f2">
    <form class="col py-2 col-10 pr-col-1 sm-pr-col-0 sm-col-14 content" action="https://formspree.io/ruby@nannymatch.com.au" method="POST">
      <div class="overflow-hidden">
        <div class="mb-3 col col-7 sm-col-14 pr-2 sm-pr-0">
          <label class="f4 sm-f2 mb-1 block">Name</label>
          <input class="input" id="name" required name="Name"></input>
        </div>
        <div class="mb-3 col col-7 sm-col-14 pl-2 sm-pl-0">
          <label class="f4 sm-f2 mb-1 block">Suburb</label>
          <input class="input" id="suburb" required name="Suburb"></input>
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="mb-3 col col-7 sm-col-14 pr-2 sm-pr-0">
          <label class="f4 sm-f2 mb-1 block">Phone Number</label>
          <input class="input" id="phone" required name="Phone Number"></input>
        </div>
        <div class="mb-3 col col-7 sm-col-14 pl-2 sm-pl-0">
          <label class="f4 sm-f2 mb-1 block">Email Address</label>
          <input class="input" id="email" type="email" required name="Email Address"></input>
        </div>
      </div>
      <div class="mb-3 sm-mb-4 col col-14">
        <label class="f4 sm-f2 mb-1 block">Message</label>
        <textarea class="textarea" required name="Message"></textarea>
      </div>
      <input type="hidden" name="_next" value="/thanks" />
      <button type="submit" class="button sm-button-full">Submit</button>
    </form>
    {% include sidebar.html %}
  </div>
</div>
