---
layout: default
---
{% include marquee.html title=page.title subtitle=page.subtitle header=true%}
<div class="my-4 sm-my-4 mx-auto col-12 lg-col-10">
  <div class="overflow-hidden f3">
    <div class="col py-2 col-10 pr-col-1 sm-pr-col-0 sm-col-14 content">
      <p>{{ page.content }}</p>
    </div>
    <div class="col col-4 sm-col-14 pt-2">
      <p class="f4 mb-2">
        Phone<br/>
        <a class="bold">
          0400 000 000
        </a>
      </p>
      <p class="f4 mb-2">
        Email<br/>
        <a class="bold">
          ruby@nannymatch.com.au
        </a>
      </p>
      <p class="f4 mb-2">
        Address<br/>
        <a class="bold">
          9/41 Hanover St<br/>
          Fitzroy 3065<br/>
          Melbourne, VIC
        </a>
      </p>
    </div>
  </div>
</div>
